<html>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='x-ua-compatible' content='ie=edge' />
	</head>
	<body>
		<h2>New Lead Entry Form for Startino!</h2>
		<ul>
			<li><b>Name: </b> {{name}}</li>
			<li><b>Email: </b> {{email}}</li>
			<li><b>Description: </b> {{description}}</li>
			<li><b>Budget: </b> {{budget}}</li>
			<li><b>Source: </b> {{source}}</li>
		</ul>
	</body>
</html>
