<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
  <h2>{{entryName}} {{action}}</h2>
  <p>Your {{entryName}} has been {{action}}: <a href="{{link.url}}">{{link.label}}</a></p>
</body>
</html>