<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
  <h2>Review submitted</h2>
  <p>{{ownerName}} has submitted a review for contract: <a href="{{baseUrl}}/app/contracts/{{contract.id}}">#{{contract.number}} {{contract.vendor.name}}</a></p>
</body>
</html>